/*CONFIGURACION INICIAL*/

* {
    text-decoration: none;
    margin: 0rem;
    padding: 0rem;
    font-style: none;
    list-style: none;

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Raleway";
    font-size: 1.6rem;
    line-height: 1.5;

}

/* GLOBALES */
.bolder {
    font-weight: bolder;
}

img {
    max-width: 100%;
}






.contenedor {
    max-width: 130rem;
    /** esto es equivalente a 1300px **/
    margin: 0 auto 0 auto;
    /*MARGIN AUTO EN LOS COSTADOS CENTRA EL CONTENEDOR*/
}

.contenedor-header {
    display: flex;
    align-items: center;
}





.header-landing {

    align-items: center;
    background: linear-gradient(to left, #c63671, #9d3a7b, #864089, #75428f, #684595);
    user-select: none;

}

.counts,
.last {
    display: flex;
    color: whitesmoke;

}

.counts:hover {
    text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    color: white;
}

.last {
    margin-left: 3rem;
}

.last:hover {
    text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    color: white;
}



.logo {
    max-width: 18.1rem;
    max-height: 5.8rem;
}

.title {
    font-family: 'Freehand', cursive;
    font-size: 5rem;
    color: whitesmoke;
}




/* b4123a */


/* UTILIDADES */

.sombra {
    text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.centrar-texto {
    text-align: center;
}


.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-centrar-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alinear-vertical {
    display: flex;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.cursor-pointer {
    cursor: pointer;
}

.no-seleccionar {
    user-select: none;
}

.display-none {
    display: none;
}



/* FIN UTILIDAD */




/* Inicio Main */

.container-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4rem;
    margin: 1rem;
}


.container {
    background: linear-gradient(to bottom, white);
    /* Fondo de la sección */

}


.fouroptions {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: #08376b;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 2.3rem;
    font-weight: 600;
}


.adopt {
    display: flex;
    align-items: center;
    background: transparent;
    border-top-left-radius: 18rem;
    border-bottom-left-radius: 18rem;
    height: 18rem;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}

.circleAdopt {
    display: flex;
    margin-left: 2rem;
    width: 15rem;
    height: 15rem;
    background: url('../img/adoptIt.svg');
    border-radius: 50%;
    border: #864089 solid 0.2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}


.info {
    display: flex;
    width: 45rem;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.info button {
    background: #156886;
    color: white;
    height: 3rem;
    width: 12rem;
    font-family: 'Raleway', sans-serif;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: opacity 0.3s;
    /* Agregar una transición de 0.3 segundos para suavizar el efecto */

    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}

.info button:hover {
    opacity: 0.8;
    /* Cambiar la opacidad cuando el usuario pasa el cursor sobre el botón */
}

.info h3 {
    font-family: 'Raleway', sans-serif;
    color: #08376b;
    font-weight: 600;
}

.lost {
    display: flex;
    justify-content: right;
    align-items: center;
    background: transparent;
    border-top-right-radius: 18rem;
    border-bottom-right-radius: 18rem;
    height: 18rem;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}

.circleLost {
    display: flex;
    margin-right: 2.2rem;
    width: 15rem;
    height: 15rem;
    background: url('../img/lost.svg');
    border-radius: 50%;
    border: #864089 solid 0.2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}



.foundIt {
    display: flex;
    align-items: center;
    border-top-left-radius: 18rem;
    border-bottom-left-radius: 18rem;
    height: 18rem;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}

.circleFoundIt {
    display: flex;
    margin-left: 2.2rem;
    width: 15rem;
    height: 15rem;
    background: url('../img/findIt.svg');
    border-radius: 50%;
    border: #08376b solid 0.2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}


.inAdopt {
    display: flex;
    justify-content: right;
    align-items: center;
    border-top-right-radius: 18rem;
    border-bottom-right-radius: 18rem;
    height: 18rem;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}

.circleInAdopt {
    display: flex;
    margin-right: 2.2rem;
    width: 15rem;
    height: 15rem;
    background: url('../img/inAdoption.svg');
    border-radius: 50%;
    border: #2c42a0 solid 0.2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}











/* section */

.section {
    background: linear-gradient(to bottom, white, rgb(240, 227, 227));
    padding-top: 1rem;
    margin-top: 1rem;
    padding-bottom: 5rem;
    font-family: 'Raleway', sans-serif;
    color: #08376b;

    font-size: 2.3rem;
    font-weight: 600;
}


.stadistics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: #08376b;

    font-size: 2.3rem;
    font-weight: 600;
}

.stadistic-p {
    font-family: 'Raleway', sans-serif;
    color: #120713;
    margin-bottom: 5rem;
    font-size: 1.7rem;
    text-align: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;


}

.don {
    width: 9rem;
    height: 9rem;
    background: url("../img/corazon-de-caja.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hov {
    color: white;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.hov:hover {
    color: #156886;
}

.boxAdopt img,
.boxAdoptIt img,
.boxFountIt img,
.boxLost img {
    width: 8rem;
    height: 8rem;

}

.boxAdopt,
.boxAdoptIt,
.boxFountIt,
.boxLost {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;

}








/* DONACIONES */



.donations {
    background: #eeeee4;
}


#donate-button img {
    width: 15rem;
    /* Define el ancho deseado en píxeles */
    height: auto;
    /* La propiedad "height" se ajusta automáticamente para mantener la relación de aspecto original */
    transition: opacity 0.3s;
    /* Agregar una transición de 0.3 segundos para suavizar el efecto */

    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}

#donate-button img:hover {
    opacity: 0.8;
    /* Cambiar la opacidad cuando el usuario pasa el cursor sobre el botón */

}



/* Estilos para la sección de donación */
.donation-section {

    padding: 5rem 0;
    /* Espaciado interno */
    text-align: center;
    /* Centrar el contenido */
    background: linear-gradient(to bottom, #eeeee4, white);

}


.imgpets {
    width: 35rem;
    height: 35rem;
    background: url("../img/cat-and-dog.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.thanks a {

    text-decoration: none;

    color: inherit;

    background: transparent;

    border: none;

    padding: 0;

    margin: 1rem;

    cursor: pointer;



}

.thanks a:hover{
    text-decoration: underline;
    color: #156886;
}

.thanks {
    height: 70vh;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.thanks p,
.thanks h1,
.thanks h3 {
    margin: 1rem;
}

.thanks h1 {
    color: rgb(96, 218, 66);
    text-shadow: 0 10px 20px rgba(68, 134, 23, 0.5);
}

.thanks img {}

.thanks button {
    margin: 2rem;
}

.info-complete {
    background: linear-gradient(to left, white, #e8eee4, white);
}

.donation-section h2 {
    font-size: 2.5rem;
    /* Tamaño del título */
    color: #08376b;
    /* Color del título */
    font-weight: bolder;
}

.donation-section p {
    font-size: 1.7rem;
    /* Tamaño del texto */
    color: #010407;
    /* Color del texto */
    margin: 5rem 0;
    /* Espaciado entre párrafos */
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;

}



/* Estilos para el botón de donación */
.donate-button-container {
    margin: 30px 0;
    /* Espaciado entre el texto y el botón */
}

#donate-button img {
    width: 14rem;
    /* Ancho de la imagen del botón */
    height: auto;
    /* Altura automática para mantener la relación de aspecto */
}

/* Estilos para el llamado a la acción */
.donation-section p:last-child {
    font-weight: bold;
    /* Texto en negrita para el llamado a la acción */
    color: #425699;
    /* Color destacado para el llamado a la acción */
}











.footer {
    background-color: #08376b;
    color: #f8f9f9;
}

.footer-container {
    padding-top: 5rem;
    padding-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

}



.content2 input {
    background-color: #08376b;
    border: #08376b;
    border: none;
    color: #ffffff;
    outline: none;
    font-size: 1.6rem;
    border-bottom: #2c42a0 solid 0.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content2 textarea::placeholder {
    background-color: #08376b;
    color: #ffffff;
    font-size: 1.6rem;
    outline: none;
    border: #08376b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}

.content2 textarea {
    background-color: #08376b;
    color: #f8f9f9;
    font-size: 1.6rem;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    resize: none;
    border: none;
    width: 30rem;
    min-height: 10rem;
}

.content2 textarea::placeholder {
    color: #758080;
}

.content2 h3 {
    margin-bottom: 3rem;
}

.content1 h3 {
    margin-bottom: 3rem;

}

.content1 p,
.content2 input {
    margin-bottom: 1.5rem;
}

.content2 input {
    margin-bottom: 1.5rem;
}

.text {
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.text button {
    margin-left: 1.5rem;
}

.content1,
.content2 {
    margin: 1rem;
}

.content2 button {
    background: #156886;
    color: #f8f9f9;
    font-family: 'Raleway', sans-serif;
    width: 8rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 0.5rem;

}

.content2 button:hover {
    background: #167597;
}

.powered {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(105, 118, 131);
    padding-bottom: 0.5rem;
    user-select: none;
}


.flag {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}



.content1 img {
    min-width: 3rem;
    max-width: 3rem;
    height: 3rem;
}


.fb .fb-image {
    min-width: 2rem;
    max-width: 2rem;
    height: 2rem;
    transition: src 0.3s;
    margin-right: 1rem;
}

.fb:hover .fb-image {
    content: url("../img/fb-hover.png");

}




.insta .insta-image {
    min-width: 2rem;
    max-width: 2rem;
    height: 2rem;
    transition: src 0.3s;
    margin-right: 1rem;
}

.insta:hover .insta-image {
    content: url("../img/insta-hover.png");
}



.twitter .twitter-image {
    min-width: 2rem;
    max-width: 2rem;
    height: 2rem;
    transition: src 0.3s;
    margin-right: 1rem;
}

.twitter:hover .twitter-image {
    content: url("../img/twitter-hover.png");
}



.youtube .youtube-image {
    min-width: 2rem;
    max-width: 2rem;
    height: 2rem;
    transition: src 0.3s;
    margin-right: 1rem;
}

.youtube:hover .youtube-image {
    content: url("../img/youtube-hover.png");
}




@media screen and (max-width: 1326px) {
    .container-options {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 4rem;
    }


    .adopt {
        border-top-left-radius: 18rem;
        border-bottom-left-radius: 18rem;
        height: 18rem;
        box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
    }

}


@media screen and (max-width: 650px) {

    .circleAdopt,
    .circleFoundIt,
    .circleInAdopt,
    .circleLost {
        display: none;

    }

    .adopt,
    .inAdopt,
    .foundIt,
    .lost {
        display: flex;
        justify-content: center;
        border-radius: 0rem;
        border-radius: 0rem;

    }

    .info {
        width: 33rem;
        text-align: justify;
    }

    .content2 textarea {
        width: 19rem;

    }

}