/*CONFIGURACION INICIAL*/

* {
    text-decoration: none;
    margin: 0rem;
    padding: 0rem;
    font-style: none;
    list-style: none;

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Raleway";
    font-size: 1.6rem;
    line-height: 1.5;

}

/* GLOBALES */
.bolder {
    font-weight: bolder;
}

img {
    max-width: 100%;
}


/* Estilo para campos de entrada normales y autocompletados */
/* input,
input:-webkit-autofill {
    background-color: #08376b;
    border: none;
    color: #ffffff;
    outline: none;
    font-size: 1.6rem;
    border-bottom: #2c42a0 solid 0.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

/* Estilo específico para campos autocompletados */
/* input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100rem #08376b inset ; 
    color: #ffffff; 
} */
/* Estilo específico para campos autocompletados (incluyendo texto) */
/* input:-webkit-autofill {
    -webkit-text-fill-color: #ffffff; 


} */




.contenedor {
    width: 100%;
    /** esto es equivalente a 1300px **/
    margin: 0;
    /*MARGIN AUTO EN LOS COSTADOS CENTRA EL CONTENEDOR*/
    overflow-y: auto;
}

.main {
    display: flex;
    justify-content: center;
}




.header-landing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, #c63671, #9d3a7b, #864089, #75428f, #684595);
    user-select: none;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    max-height: 13.5rem;
}


.nombre {
    display: flex;
    align-items: center;
}

.avatar {
    min-width: 4rem;
    min-height: 4rem;
    max-width: 4rem;
    max-height: 4rem;
    position: relative;
    overflow: hidden;
    margin-left: 1rem;
    border-radius: 50%;
}

.avatar img {
    border-radius: 50%;
}


.logomain {
    margin: 1rem;
}

.noty {
    margin: 1rem;
    color: white;
    display: flex;
    align-items: center;

}

.noty i {
    margin: 1rem;
    font-size: 2rem;
}

.counts,
.last {
    display: flex;
    color: whitesmoke;

}

.counts:hover {
    text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    color: white;
}

.last {
    margin-left: 3rem;
}

.last:hover {
    text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    color: white;
}



.logo {
    max-width: 16.1rem;
    max-height: 4.8rem;
}



.title {
    font-family: 'Freehand', cursive;
    font-size: 3rem;
    color: whitesmoke;
}




/* b4123a */


/* UTILIDADES */

.sombra {
    text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.centrar-texto {
    text-align: center;
}


.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-centrar-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alinear-vertical {
    display: flex;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.no-seleccionar {
    user-select: none;
}

.seleccionar {
    user-select: text;
}

.display-none {
    display: none;
}



/* FIN UTILIDAD */



.publicar {

    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-left: 1rem;
    padding: 1rem;
    /* padding-left: 0.5rem; */
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    min-width: 19.3rem;
    /* padding-bottom: 0.5rem;
    padding-top: 0.5rem; */

}

.publicar:hover {
    background: #f2f2f2;
    border-radius: 0.8rem;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
    color: black;

}

.publicar:hover img {


    box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0.7);
    color: black;
    opacity: 100%;
}

.publicar img {
    opacity: 70%;
}

.publicar i {
    margin-right: 1rem;
    font-size: 1.9rem;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
}

.menu {
    display: flex;
    position: sticky;
    top: 10rem;
    left: 0;
    justify-content: space-between;
    min-width: 13%;
    max-width: 13%;
    margin-top: 2rem;
    flex-wrap: nowrap;
    margin-left: 1.5rem;

}


.menu img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 0;
    background: #333;

}

.hr {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2.8rem;
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    min-height: 84vh;
}

.hov {
    color: rgb(77, 74, 74);
    background: #333;
    color: white;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    padding: 1rem;
    max-height: 10rem;
}

.hov:hover {
    color: #156886;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
}

.principal {

    min-width: 87%;
    max-width: 87%;
    overflow-y: auto;
    max-height: 83vh;
    display: flex;
    align-items: stretch;
    justify-content: center;

    padding-top: 2rem;
    overflow-y: auto;
}

.flag {
    width: 1.5rem !important;
    height: 1.5rem !important;
}


.menu-desplegable {
    display: none;
}

.img-circulo {
    width: 4rem;
    height: 4rem;
    position: relative;
    overflow: hidden;
    margin-left: 1rem;
}




.container-options {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 1rem;
}


.adopt {
    display: flex;
    align-items: center;
    background: transparent;
    border-top-left-radius: 18rem;
    border-bottom-left-radius: 18rem;
    height: 18rem;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}

.circleAdopt {
    display: flex;
    margin-left: 2rem;
    width: 15rem;
    height: 15rem;
    background: url('../img/adoptados.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border: #864089 solid 0.2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}


.info {
    display: flex;
    width: 45rem;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}



.info button {
    background: #156886;
    color: white;
    height: 3rem;
    width: 12rem;
    font-family: 'Raleway', sans-serif;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: opacity 0.3s;
    /* Agregar una transición de 0.3 segundos para suavizar el efecto */

    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}

.info button:hover {
    opacity: 0.8;
    /* Cambiar la opacidad cuando el usuario pasa el cursor sobre el botón */
}

.info h3 {
    font-family: 'Raleway', sans-serif;
    color: #08376b;
    font-weight: 600;
}

.lost {
    display: flex;
    justify-content: right;
    align-items: center;
    background: transparent;
    border-top-right-radius: 18rem;
    border-bottom-right-radius: 18rem;
    height: 18rem;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}

.circleLost {
    display: flex;
    margin-right: 2.2rem;
    width: 15rem;
    height: 15rem;
    background: url('../img/perdido.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border: #864089 solid 0.2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}



.foundIt {
    display: flex;
    align-items: center;
    border-top-left-radius: 18rem;
    border-bottom-left-radius: 18rem;
    height: 18rem;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}

.circleFoundIt {
    display: flex;
    margin-left: 2.2rem;
    width: 15rem;
    height: 15rem;
    background: url('../img/encontrado.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border: #08376b solid 0.2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}


.inAdopt {
    display: flex;
    justify-content: right;
    align-items: center;
    border-top-right-radius: 18rem;
    border-bottom-right-radius: 18rem;
    height: 18rem;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}

.circleInAdopt {
    display: flex;
    margin-right: 2.2rem;
    width: 15rem;
    height: 15rem;
    background: url('../img/enadopcion.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border: #2c42a0 solid 0.2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}

.boxAdopt img,
.boxAdoptIt img,
.boxFountIt img,
.boxLost img {
    width: 8rem;
    height: 8rem;

}

.boxAdopt,
.boxAdoptIt,
.boxFountIt,
.boxLost {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;

}

.container-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    width: 35rem;
    text-align: center;
    overflow: auto;
    opacity: 0.9;
    margin: 10rem 1rem;
}

.container-register input {
    width: 100%;
    padding: 1.2rem;
    margin: 1rem 0;
    box-sizing: border-box;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    background-color: #f8f8f8;
    transition: 0.3s;
    color: #010407;
}

.container-register h2 {
    color: #333;
    margin-bottom: 2rem;
}

.container-register button {
    background: #167c1a;

    width: 100%;
    padding: 1.2rem;

    color: #fff;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.6rem;
    transition: 0.3s;
}


.container-register button:hover {
    width: 100%;
    padding: 1.2rem;
    background-color: #135813;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.6rem;
    transition: 0.3s;
}

@media screen and (max-width: 1500px) {
    .menu {
        display: none;
        position: relative;
        /* Agregamos esta propiedad para posicionar correctamente el icono sobre el menú */
        overflow: auto;

    }

    .hr {
        display: none;
    }

    .principal {
        min-width: 85%;
        max-width: 85%;
        overflow-y: auto;
        max-height: 83vh;
        display: flex;
        align-items: stretch;
        margin: -10rem auto 1rem auto;
        padding-top: 0rem;
    }

    .container-register {
        min-height: 50rem;
    }

    .hamburguesa {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
        padding: 1rem;
        position: fixed;
        /* Posiciona el icono hamburguesa de manera absoluta sobre el menú */
        z-index: 2;
        /* Asegura que el icono esté por encima del contenido del menú */
    }

    .barra {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 3px 0;
        transition: transform 0.3s ease-in-out, background-color 0.3s ease;
        /* Agregamos transición para el cambio de color */
        background: #75428f;
        color: #c63671;
    }

    /* Estilos para el menú desplegable */
    .menu-desplegable {
        display: block;
        position: fixed;
        top: 0;
        left: -26rem;
        width: 25rem;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 2rem;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        transition: left 0.3s ease-in-out;
        margin-top: 7.5rem;
        padding-top: 5rem;
    }

    .menu-desplegable a {
        display: block;
        color: #fff;
        margin-bottom: 10px;
        text-decoration: none;
        font-size: 1.8rem;

    }

    .publicar img {
        width: 2.2rem;
        filter: brightness(0) invert(1);
        margin-right: 1rem;
    }

    .publicar:hover img {


        box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0.7);
        color: black;
        opacity: 100%;
        filter: brightness(0) invert(0);
    }



    .hamburguesa-abierto .barra {
        background-color: #fff;
        /* Cambiamos el color de la hamburguesa al abrir el menú */
    }

    .hamburguesa-abierto .barra:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 9px);
        margin-right: -13rem;
    }

    .hamburguesa-abierto .barra:nth-child(2) {
        opacity: 0;
    }

    .hamburguesa-abierto .barra:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
        margin-right: -13rem;
    }
}

@media screen and (max-width: 700px) {
    .menu-desplegable {
        display: block;
        position: fixed;
        top: 10rem;
        left: -25rem;
        width: 25rem;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 2rem;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        transition: left 0.3s ease-in-out;
        margin-top: 4.5rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .header-landing {
        justify-content: center;
        max-height: 14.5rem;
        min-height: 14.5rem;
        flex-direction: column;
    }


    .principal {

        max-height: 76vh;
        display: flex;
        justify-content: center;

    }
    .container-options {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 4rem;
        margin-top: 4rem;

    }

}

@media screen and (max-width: 289px) {
    /* .menu-desplegable {
        display: block;
        position: fixed;
        top: 10rem;
        left: -25rem;
        width: 25rem;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 2rem;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        transition: left 0.3s ease-in-out;
        margin-top: 4.3rem;
        padding-top: 5rem;
    } */
    /* 
    .principal {
        min-width: 85%;
        max-width: 85%;
        overflow-y: auto;
        max-height: 75vh;
        display: flex;
        margin: 2rem auto 2rem auto;
    } */
}


@media screen and (max-width: 1550px) {
    .container-options {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 4rem;
        margin-top: 13rem;

    }

    .container-register {
        min-height: 50rem;
    }

    .adopt {
        border-top-left-radius: 18rem;
        border-bottom-left-radius: 18rem;
        height: 18rem;
        box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
    }

}

@media screen and (max-width: 440px) {

    .adopt,
    .inAdopt,
    .foundIt,
    .lost {
        width: 20rem;
    }

    .container-options {
        justify-items: center;
        margin: 1rem;
        margin-top: 13rem;
    }

}

@media screen and (max-width: 850px) {

    .contenedor-header {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .circleAdopt,
    .circleFoundIt,
    .circleInAdopt,
    .circleLost {
        display: none;

    }

    .adopt,
    .inAdopt,
    .foundIt,
    .lost {
        display: flex;
        justify-content: center;
        border-radius: 0rem;
        border-radius: 0rem;

    }

    .info {
        width: 33rem;
        text-align: justify;
    }

    .content2 textarea {
        width: 19rem;

    }

}