/*CONFIGURACION INICIAL*/

a {
    text-decoration: none;
    color: inherit;
    font-size: 1.6rem;

}

* {
    text-decoration: none;
    margin: 0rem;
    padding: 0rem;
    font-style: none;
    list-style: none;

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

.principal {
    height: 100vh;
    /* Establece la altura del contenedor de desplazamiento */
    overflow-y: scroll;
    /* Hace que el contenedor tenga un scroll vertical */
    scrollbar-width: thin;
    /* Establece el grosor de la barra de desplazamiento en navegadores compatibles */
    scrollbar-color: transparent transparent;
    /* Establece el color de la barra de desplazamiento en navegadores compatibles */
    
}

/* Estiliza la barra de desplazamiento para navegadores compatibles con el estándar */
.principal::-webkit-scrollbar {
    width: 12px;
}

.principal::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.principal::-webkit-scrollbar-track {
    background-color: transparent;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Raleway";
    font-size: 1.6rem;
    line-height: 1.5;

}

/* GLOBALES */
.bolder {
    font-weight: bolder;
}

img {
    max-width: 100%;
}


/* Estilo para campos de entrada normales y autocompletados */
/* input,
input:-webkit-autofill {
    background-color: #08376b;
    border: none;
    color: #ffffff;
    outline: none;
    font-size: 1.6rem;
    border-bottom: #2c42a0 solid 0.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

/* Estilo específico para campos autocompletados */
/* input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100rem #08376b inset ; 
    color: #ffffff; 
} */
/* Estilo específico para campos autocompletados (incluyendo texto) */
/* input:-webkit-autofill {
    -webkit-text-fill-color: #ffffff; 


} */




.contenedor {
    width: 100%;
    /** esto es equivalente a 1300px **/
    margin: 0;
    /*MARGIN AUTO EN LOS COSTADOS CENTRA EL CONTENEDOR*/
    overflow-y: auto;
}

.main {
    display: flex;
    justify-content: center;
}

.dropdown-content{
    margin-top: 0rem;
    color: black;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    width: 30rem;
    background: #b4b3b3;
    
    position: absolute;
    top: 100%;
    right:1%;
    
    display: none;
    background-color: #fff;
    border: 0.1rem solid #ccccccd2;
    padding: 1rem;
    z-index: 9999;

    /* Añade la propiedad para hacer el contenido scrollable */
    overflow-y: auto; /* O puedes usar "scroll" si siempre quieres que aparezca el scrollbar */
    max-height: 50rem; /* Ajusta la altura máxima según tus necesidades */
}

.contenedor-data-noti{
    margin-left: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    height: 13rem;
    
}

.contenedor-data-noti p{
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);

}

.contenedor-data-noti:hover p{
    
    color: #747574;
    
}

.aa{
    margin-top: 0rem;
    color: black;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    width: 5rem;



    position: absolute;
    top: 100%;

    display: none;
    background-color: #fff;
    border: 0.1rem solid #fff;
    padding: 1rem;
    z-index: 9999;
    padding-right: 22rem;
}



.header-landing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, #9d3a7b, #9d3a7b, #864089, #75428f, #684595);
    user-select: none;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    max-height: 13.5rem;
    z-index: 20;
}


.nombre {
    display: flex;
    align-items: center;
}

.avatar {
    display: flex;
    min-width: 4rem;
    position: relative;
    min-height: 4rem;
    max-width: 4rem;
    max-height: 4rem;
    position: relative;
    margin-left: 1rem;
    border-radius: 50%;
    z-index: 100;
    background: #370d44;
}

.avatar::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    background: #24df2a;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    overflow: hidden;
    /* Mover overflow aquí */

}

.avatar img {
    border-radius: 50%;

}


/* .logomain {
    display: flex;
} */

.noty {
    margin: 1rem;
    color: white;
    display: flex;
    align-items: center;

}

.noty i {
    margin: 1rem;
    font-size: 2.3rem;
    margin-right: 2rem;
}

.counts,
.last {
    display: flex;
    color: whitesmoke;

}

.counts:hover {
    text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    color: white;
}

.last {
    margin-left: 3rem;
}

.last:hover {
    text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    color: white;
}



.logo {
    display: none;
    max-width: 16.1rem;
    max-height: 4.8rem;
}



.title {
    font-family: 'Freehand', cursive;
    font-size: 3rem;
    color: whitesmoke;
    margin-left: 5rem;
}




/* b4123a */


/* UTILIDADES */

.sombra {
    text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.centrar-texto {
    text-align: center;
}

.margen-b{
    padding-bottom: 2rem;
}
.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-centrar-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alinear-vertical {
    display: flex;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.no-seleccionar {
    user-select: none;
}

.seleccionar {
    user-select: text;
}

.display-none {
    display: none;
}



/* FIN UTILIDAD */



.publicar {

    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-left: 1rem;
    padding: 1rem;
    /* padding-left: 0.5rem; */
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    min-width: 19.3rem;
    min-height: 4.4rem;
    max-height: 4.4rem;
    /* padding-bottom: 0.5rem;
    padding-top: 0.5rem; */

}

.publicar:hover {
    background: rgb(214, 211, 211);
    border-radius: 0.8rem;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
    color: black;

}

.publicar:hover img {


    box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0.7);
    color: black;
    opacity: 100%;
}

.publicar img {
    opacity: 70%;
}

.publicar i {
    margin-right: 1rem;
    font-size: 1.9rem;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
}

.menu {
    display: flex;
    position: sticky;
    top: 5rem;
    left: 0;
    justify-content: space-between;
    min-width: 13%;
    max-width: 13%;
    margin-top: 2rem;
    flex-wrap: nowrap;
    margin-left: 1.5rem;

}


.menu img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    width: 100%;
    z-index: 120;
    bottom: 0;
    background: #333;
    margin-bottom: 0rem;

}

.flex-form-adopt{
    display: flex;
    justify-content: center;
}

.hr {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2.8rem;
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    min-height: 84vh;
}

.hov {
    color: rgb(77, 74, 74);
    background: #333;
    color: white;
    transition: color 0.3s;
    display: flex;
    align-items: center;

    max-height: 10rem;
}

.hov:hover {
    color: #50b8dd;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
}

.principal {

    min-width: 84%;
    max-width: 84%;
    overflow-y: auto;
    max-height: 105vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    overflow-y: auto;
}

.flag {
    width: 1.5rem !important;
    height: 1.5rem !important;
}


.menu-desplegable {
    display: none;
}

.img-circulo {
    width: 4rem;
    height: 4rem;
    position: relative;
    overflow: hidden;
    margin-left: 1rem;
}




.container-options {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    gap: 4rem;
    margin-bottom: 18rem;
    margin-top: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
}


.adopt {
    display: flex;
    align-items: center;
    background: transparent;
    border-top-left-radius: 18rem;
    border-bottom-left-radius: 18rem;
    height: 18rem;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}

.circleAdopt {
    display: flex;
    margin-left: 2rem;
    width: 15rem;
    height: 15rem;
    background: url('../img/adoptados.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border: #864089 solid 0.2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}


.info {
    display: flex;
    width: 45rem;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}



.info button {
    background: #156886;
    color: white;
    height: 3rem;
    width: 12rem;
    font-family: 'Raleway', sans-serif;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: opacity 0.3s;
    /* Agregar una transición de 0.3 segundos para suavizar el efecto */

    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}

.info button:hover {
    opacity: 0.8;
    /* Cambiar la opacidad cuando el usuario pasa el cursor sobre el botón */
}

.info h3 {
    font-family: 'Raleway', sans-serif;
    color: #08376b;
    font-weight: 600;
}

.lost {
    display: flex;
    justify-content: right;
    align-items: center;
    background: transparent;
    border-top-right-radius: 18rem;
    border-bottom-right-radius: 18rem;
    height: 18rem;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}

.circleLost {
    display: flex;
    margin-right: 2.2rem;
    width: 15rem;
    height: 15rem;
    background: url('../img/perdido.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border: #864089 solid 0.2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}



.foundIt {
    display: flex;
    align-items: center;
    border-top-left-radius: 18rem;
    border-bottom-left-radius: 18rem;
    height: 18rem;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}

.circleFoundIt {
    display: flex;
    margin-left: 2.2rem;
    width: 15rem;
    height: 15rem;
    background: url('../img/encontrado.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border: #08376b solid 0.2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}


.inAdopt {
    display: flex;
    justify-content: right;
    align-items: center;
    border-top-right-radius: 18rem;
    border-bottom-right-radius: 18rem;
    height: 18rem;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}

.circleInAdopt {
    display: flex;
    margin-right: 2.2rem;
    width: 15rem;
    height: 15rem;
    background: url('../img/enadopcion.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border: #2c42a0 solid 0.2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.7);
}

.boxAdopt img,
.boxAdoptIt img,
.boxFountIt img,
.boxLost img {
    width: 8rem;
    height: 8rem;

}

.boxAdopt,
.boxAdoptIt,
.boxFountIt,
.boxLost {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;

}

.container-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    min-height: 50rem;
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    width: 80vw;
    text-align: center;
    overflow: initial;
    opacity: 0.9;
    margin: 3rem 1rem;
    margin-bottom: 13rem;
    z-index: 2;
}

.container-register input, .container-register select {
    min-width: 78vw;
    padding: 1.2rem;
    margin: 1rem 0;
    box-sizing: border-box;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    background-color: #f8f8f8;
    transition: 0.3s;
    color: #474b4e;
}
.container-register textarea{
    width: 100%;
    padding: 1.2rem;
    margin: 1rem 0;
    box-sizing: border-box;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    background-color: #f8f8f8;
    transition: 0.3s;
    color: #474b4e;
    /* max-width: 31rem; */
    min-width: 31rem;
    min-height: 12rem;
}

.container-register select{
    height: 4.1rem;
    margin-bottom: 2rem;
}


.container-register h2 {
    color: #333;
    margin-bottom: 2rem;
}

.container-register button {
    background: #167c1a;

    width: 100%;
    padding: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.6rem;
    transition: 0.3s;
}


.container-register button:hover {
    width: 100%;
    padding: 1.2rem;
    background-color: #135813;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.6rem;
    transition: 0.3s;
}

.inicial {
    background: #2c42a0;
    position: relative;
    color: rgb(210, 223, 236);
    min-width: 4rem;
    min-height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    font-weight: bolder;

}

.inicial::before {
    content: "";
    display: inline-block;
    /* Agregado para que afecte al tamaño */
    position: absolute;
    width: 1rem;
    /* Puedes ajustar el tamaño según sea necesario */
    height: 1rem;
    /* Puedes ajustar el tamaño según sea necesario */
    background: #24df2a;
    border-radius: 50%;
    /* Añadido para hacer un círculo */
    bottom: 0;
    right: 0;
}

.a {
    background: #f2f2f2;
    border-radius: 0.8rem;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
    color: black;
    font-size: 1.6rem;
}

.b {
    background: #b4b3b3;
    border-radius: 0.8rem;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
    color: black;
    font-size: 1.6rem;
}

.as a {
    text-decoration: none;
    /* Quitar subrayado predeterminado */

}

.menu-desplegable div {
    font-size: 1.6rem;
    /* Ajusta el tamaño de fuente según sea necesario */
}




.policy {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 25rem;

}
.bellnoti{
    background:#ff1818;
    min-width: 2.8rem;
    min-height: 2.8rem;
    max-width: 2.8rem;
    max-height: 2.8rem;
    border-radius: 50%;
    position: absolute;
    top: -0.5rem;
    right: -0.1rem;
    margin-right: -1rem;
    margin-top: -0.3rem;
    border: 0.20rem solid #9d3a7b;
}

.commentsnoti{
    background:#ff1818;
    min-width: 2.8rem;
    min-height: 2.8rem;
    max-width: 2.8rem;
    max-height: 2.8rem;
    border-radius: 50%;
    position: absolute;
    top: -0.5rem;
    right: -0.1rem;
    margin-right: -1rem;
    margin-top: -0.3rem;
    border: 0.20rem solid #9d3a7b;
}
.commentsnoti p{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0.4rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bell{
    position: relative;
    text-align: center;
    padding-top: 0.2rem ;
}
.bellnoti p{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0.4rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fa-bell, .fa-comments{
    display: flex;

    font-size: 2rem;
    /* background: #6e99da; */
    border-radius: 50%;
    min-width: 3.8rem;
    min-height: 3.8rem;
    padding-top: 0.5rem;
    transition: background 0.3s ease;

}

.fa-bell:hover, .fa-comments:hover{
    background: rgba(59, 120, 212, 0.5);


}









#dropdown {
    display: none;
    position: absolute;
    /* Agrega otros estilos según tus necesidades */
}











.fa-bell:hover .bellnoti, .fa-comments:hover .commentsnoti{

    background:#d10e0e;

}
.policy section {
    /* max-width: 80rem; */
    /* margin: 2rem auto; */
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin: 1rem;

}

.policy h1 {
    color: #425699;
    text-align: center;
}

.policy h2 {
    color: #333;
}

.policy h1,
.policy h2,
.policy p {
    margin-bottom: 2rem;
}



.faq-container {
    min-width: 80vw;
    margin-bottom: 2rem;
    border: 0.1rem solid #ccc;
    border-left: 1rem solid #426bb3;
    border-radius: 0.7rem;
    overflow: hidden;

}

.faq-item {
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    transition: height 0.3s ease-in-out;
}

.faq-question {
    padding: 1rem;
    cursor: pointer;
    background-color: #f5f5f5;
    user-select: none;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;

}

.faq-answer {
    padding: 1rem;
    display: none;
    background-color: #fff;
    transition: opacity 0.3s ease-in-out;
    height: 100%;
    width: 100%;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    transition: transform 0.3s ease-in-out;
    background: rgb(154, 154, 201);
    border-radius: 50%;
    color: #f5f5f5;
    min-width: 2.6rem;
    min-height: 2.6rem;
    margin: 1rem;
}

.faq-item.active .faq-answer {
    display: block;
    opacity: 1;
}

.faq-item.active .faq-question {
    background-color: #e0e0e0;
}

.faq-item.active .arrow {
    transform: rotateX(-360deg);
}

/* AQUI EMPIEZA LOS ESTILOS DE PUBLICACIONES */

.contenedor-publicacion img {
    max-width: 33rem;
    max-height: 22rem;
    min-height: 22rem;
    min-width: 33rem;
    border-radius: 0.5rem;
    margin-top: -3.8rem;
    z-index: -1;
}
.titulo-publicacion {
    color: white;
    border-start-end-radius: 1rem;
    border-start-start-radius: 1rem;
    color: #370d44;
    padding-bottom: 1rem;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; /* Dirección y color del borde blanco */


}
.cap {
    min-height: 9.6rem;
}

.contenedor-publicacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 35rem;
    max-height: 60rem;
    min-height: 60rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 0 1rem 1rem 1rem;
    margin: 0 1rem 2rem 1rem;
    overflow: hidden;
    position: relative;

}
.edit{
    position: absolute;
    right: 1.2rem;
    top: 0.6rem;
    cursor: pointer;
}
/* Estilo del spinner */
.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.contenedor-publicaciones {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 16rem;
    padding-top: 3rem;
    gap: 1rem;
}
.cBEspecie {
    height: 2.9rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 1rem;
    margin-left: -0.1rem;

}

.fondo{
    position: relative;
    background: url('../img/fondo.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    filter: blur(10rem);
    overflow: hidden;
}

.mascota{
    overflow: hidden;
}





.container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin: 12rem auto;
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 16rem;

}
.container img{
    display: flex;
    max-width: 18rem;
    max-height: 20rem;
    min-width: 20rem;
    min-height: 20rem;
    align-self: center;
    border-radius: 50%;
    background: #156886;
    margin: 1rem;
    margin-top: -10rem;
}
.raza{
    display: flex;
    align-items: baseline;
}
.raza p{
    padding-left: 1rem;
}
.container h2{
    align-self: center;
}
.descripcion{
    color: #08376b;
}
.get img{
    display: flex;
    justify-content: center;

}

.container h2 {
    color: #086b56;
}
.container h3{
    color: #08376b;
}

.details {
    margin-top: 20px;
}

.details p {
    margin: 10px 0;
}

#btnBack {
    display: flex;
    padding: 1rem 2rem;
    text-decoration: none;
    background-color: #4CAF50;
    justify-content: center;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
    
}

#btnBack:hover {
    background-color: #45a049;
}

.btn_solicitud_aceptar{
    display: flex;
    padding: 1rem 2rem;
    text-decoration: none;
    background-color: #1cb81e;
    min-width: 12rem;
    justify-content: center;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 4px;
    transition: background-color 0.3s;
    border: 1px solid #e0e0e0;
}
.btn_solicitud_espera{
    display: flex;
    padding: 1rem 2rem;
    text-decoration: none;
    background-color: #b6b81c;
    min-width: 12rem;
    justify-content: center;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 4px;
    transition: background-color 0.3s;
    border: 1px solid #e0e0e0;
}
.btn_solicitud_espera:hover{
    background-color: #636413;
}
.btn_solicitud_aceptar:hover{
    background-color: #206d23;
}
.btn_solicitud_rechazar{
    display: flex;
    padding: 1rem 2rem;
    text-decoration: none;
    background-color: #ca1010;
    min-width: 12rem;
    justify-content: center;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 4px;
    transition: background-color 0.3s;
    border: 1px solid #e0e0e0;

}
.btn_solicitud_rechazar:hover{
    background-color: #691616;
}

.contenedor-info p,
.contenedor-info h4 {
    margin: 0.5rem;
}

.descripcion {
    flex-wrap: wrap;
}
.ajuste{
    margin-top: 7rem;
}
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.terminos{
    margin-bottom: 2rem;
}
.register2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    min-height: 20rem;
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    width: 50vw;
    text-align: center;
    overflow: initial;
    opacity: 0.9;
    margin: 3rem 1rem;
    margin-bottom: 13rem;
    z-index: 2;
}
.contenedor-botones{
    gap: 2rem;
    margin-top: 2rem;
    
}
.h3-ask{
    margin-top: 2rem;
}
@media screen and (max-width: 1500px) {

    .container-options {
        margin-bottom: 15rem;
    }

    .menu {
        display: none;
        position: relative;
        /* Agregamos esta propiedad para posicionar correctamente el icono sobre el menú */
        overflow: auto;

    }

    .faq-container {
        min-width: 80vw;
        margin-bottom: 2rem;
        border: 0.1rem solid #ccc;
        border-left: 1rem solid #426bb3;
        border-radius: 0.7rem;
        overflow: hidden;
    }

    .hr {
        display: none;
    }

    .principal {
        min-width: 85%;
        max-width: 85%;
        overflow-y: auto;
        max-height: 99vh;
        display: flex;
        align-items: flex-start;
        margin: 2rem auto 1rem auto;
        padding-top: 2rem;
    }

    .container-register {
        min-height: 90%;
        max-height: 90%;
    }

    .hamburguesa {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
        padding: 1rem;
        position: fixed;
        /* Posiciona el icono hamburguesa de manera absoluta sobre el menú */
        z-index: 350;
        /* Asegura que el icono esté por encima del contenido del menú */
        background: #312d3838;
        border-radius: 50%;
    }

    .policy {
        display: flex;
        /* margin-top: 5rem;
        margin-bottom: 15rem; */

    }

    .barra {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 3px 0;
        transition: transform 0.3s ease-in-out, background-color 0.3s ease;
        /* Agregamos transición para el cambio de color */
        background: #0000007a;
        color: #c63671;
    }

    /* Estilos para el menú desplegable */
    .menu-desplegable {
        display: block;
        position: fixed;
        top: 0;
        left: -26rem;
        width: 25rem;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 2rem;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        transition: left 0.3s ease-in-out;
        margin-top: 7.5rem;
        padding-top: 5rem;
        z-index: 300;
    }

    .menu-desplegable a {
        display: block;
        color: #fff;
        margin-bottom: 10px;
        text-decoration: none;
        font-size: 1.8rem;

    }

    .publicar img {
        width: 2.2rem;
        filter: brightness(0) invert(1);
        margin-right: 1rem;
    }

    .publicar:hover img {


        box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0.7);
        color: black;
        opacity: 100%;
        filter: brightness(0) invert(0);
    }



    .hamburguesa-abierto .barra {
        background-color: #fff;
        /* Cambiamos el color de la hamburguesa al abrir el menú */
    }

    .hamburguesa-abierto .barra:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 9px);
        margin-right: -13rem;
    }

    .hamburguesa-abierto .barra:nth-child(2) {
        opacity: 0;
    }

    .hamburguesa-abierto .barra:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
        margin-right: -13rem;
    }

}

@media screen and (max-width: 700px) {
    .menu-desplegable {
        display: block;
        position: fixed;
        top: 10rem;
        left: -25rem;
        width: 25rem;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 2rem;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        transition: left 0.3s ease-in-out;
        margin-top: 4.5rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .faq-answer {
        max-width: 80vw;
        min-width: 80vw;

    }

    .header-landing {
        justify-content: center;
        max-height: 14.5rem;
        min-height: 14.5rem;

        flex-direction: column;
    }


    .principal {

        max-height: 81vh;
        display: flex;
        justify-content: center;

    }

    .container-options {


        margin-bottom: 12rem;


    }

    .policy {
        display: flex;
        margin-top: 5rem;
        margin-bottom: 15rem;

    }
    .title{
        margin-left: 0rem;
    }
}

@media screen and (max-width: 289px) {
    /* .menu-desplegable {
        display: block;
        position: fixed;
        top: 10rem;
        left: -25rem;
        width: 25rem;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 2rem;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        transition: left 0.3s ease-in-out;
        margin-top: 4.3rem;
        padding-top: 5rem;
    } */

    .container{
        min-width: 100%;
    }

    .container img{
        max-width: 9rem;
        min-width: 9rem;
        max-height: 9rem;
        min-height: 9rem;
        margin-top: -6rem;
    }
    .principal {
        min-width: 84%;
        max-width: 84%;
        overflow-y: auto;
        max-height: 89vh;
        display: flex;
        align-items: stretch;
        justify-content: center;

        padding-top: 2rem;
        overflow-y: auto;
    }
}




@media screen and (max-width: 440px) {

    .adopt,
    .inAdopt,
    .foundIt,
    .lost {
        width: 25rem;
        height: 25rem;
    }
    .container {
        max-width: 94%;
        margin-top: 21rem;

    }
    .ajuste2{
        margin-top: 0rem;
    }
    .ajuste{
        margin-top: 7rem;
    }
    .container h3{
        font-size: 1.5rem;
    }
    .container-options {
        justify-items: center;

        margin-top: 3rem;
        margin-bottom: 15rem;
        /* min-height: 100%; */
        width: 100%;
    }
    .container-register{
        width: 79vw;
    }
    .container-register input, .container-register select{
        width: 72vw;
    }

    .container-register textarea{
        min-width: 75vw;
    }

    .container-options h2 {

        margin-bottom: -3rem;

    }

    .principal {
        min-width: 85%;
        max-width: 85%;
        overflow-y: auto;
        max-height: 99vh;
        display: flex;
        align-items: flex-start;
        margin: -10rem auto 1rem auto;
        padding-top: 14rem;
    }

    .faq-container{
        min-width: 80vw;
        max-width: 80vw;
    }
    .logo {
        display: none;
    }

    .policy {
        display: flex;
        margin-top: 3rem;
        margin-bottom: 15rem;

    }
    .contenedor-publicacion{
        max-width: 33rem;
    }

}

@media screen and (max-width: 850px) {

    .contenedor-header {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .circleAdopt,
    .circleFoundIt,
    .circleInAdopt,
    .circleLost {
        display: none;

    }

    .adopt,
    .inAdopt,
    .foundIt,
    .lost {
        display: flex;
        justify-content: center;
        border-radius: 0rem;
        border-radius: 0rem;

    }

    .info {
        width: 33rem;
        text-align: justify;
    }

    .content2 textarea {
        width: 19rem;

    }

}


@media screen and (max-width: 330px) {
    .adopt,
    .inAdopt,
    .foundIt,
    .lost {
        max-width: 19rem;
        height: 30rem;

    }
}

