/*CONFIGURACION INICIAL*/

* {
    text-decoration: none;
    margin: 0rem;
    padding: 0rem;
    font-style: none;
    list-style: none;

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Raleway";
    font-size: 1.6rem;
    line-height: 1.5;

}

/* GLOBALES */
.bolder {
    font-weight: bolder;
}

img {
    max-width: 100%;
}


/* Estilo para campos de entrada normales y autocompletados */
input,
input:-webkit-autofill {
    background-color: #08376b;
    border: none;
    color: #ffffff;
    outline: none;
    font-size: 1.6rem;
    border-bottom: #2c42a0 solid 0.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilo específico para campos autocompletados */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100rem #08376b inset ; /* Fondo azul */
    color: #ffffff; /* Color del texto en blanco */
}
/* Estilo específico para campos autocompletados (incluyendo texto) */
input:-webkit-autofill {
    -webkit-text-fill-color: #ffffff; 


}




.contenedor {
    width: 100%;
    /** esto es equivalente a 1300px **/
    margin: 1rem;
    /*MARGIN AUTO EN LOS COSTADOS CENTRA EL CONTENEDOR*/
}





.header-landing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, #c63671, #9d3a7b, #864089, #75428f, #684595);
    user-select: none;
}

.logomain{
    margin: 1rem;
}

.noty{
    margin: 1rem;
    color: white;

}
.noty i{
    margin: 1rem;
    font-size: 2rem;
}

.counts,
.last {
    display: flex;
    color: whitesmoke;

}

.counts:hover {
    text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    color: white;
}

.last {
    margin-left: 3rem;
}

.last:hover {
    text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    color: white;
}



.logo {
    max-width: 16.1rem;
    max-height: 4.8rem;
}



.title {
    font-family: 'Freehand', cursive;
    font-size: 3rem;
    color: whitesmoke;
}




/* b4123a */


/* UTILIDADES */

.sombra {
    text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.centrar-texto {
    text-align: center;
}


.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-centrar-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alinear-vertical {
    display: flex;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.cursor-pointer {
    cursor: pointer;
}

.no-seleccionar {
    user-select: none;
}

.display-none {
    display: none;
}



/* FIN UTILIDAD */